transformers 
langchain
langchain_community
langchain_huggingface
faiss-cpu
gradio
docx2txt
bitsandbytes
modelscope
optimum
auto-gptq
unstructured==0.9.0
python-docx
nltk
jieba
pandas
markupsafe
torch
torchvision
numpy
jinja2
pdfminer.six
pi_heif
tiktoken
transformers_stream_generator
chromadb
pdf2image
unstructured_pytesseract
pytesseract
PyMuPDF
